.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left1{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap :30px
}
.right1{
flex: 1;

}
.right1 p{
    color: blue;
}
#youtube{
    color: red;
}
#face{
    color: blue;
}
#insta{
   color:rgb(159, 84, 58)
}
.linkd{
    color: #0e76a8;;
}